<country-search-input
  [placeholderSearch]="'Buscar por capital'"
  (search)="query.set($event)"
/>

@if ( countryResource.error()) {
  <span>{{countryResource.error()}}</span>
} @else {
  <country-list [countries]="countryResource.value() || []" />
}


<!-- NO ES NECESARIO SI SE UTILIZA "Async reactivity with resources" -->
<!-- <country-search-input
  [placeholderSearch]="'Buscar por capital'"
  (search)="onSearch($event)"
/>

@if (isError()) {
  <span>{{isError()}}</span>
} @else {
  <country-list [countries]="countries()" />
} -->
